* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    font-size: 18px;
  }
  
    .m-backgroundAnimations {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        --gradient-step-1: 11;
        --gradient-step-2: 73;
        --gradient-step-3: 100;
        background: linear-gradient(180deg, var(--gradient-color-1) calc(1% * var(--gradient-step-1)), var(--gradient-color-2) calc(1% * var(--gradient-step-2)), var(--gradient-color-3) calc(1% * var(--gradient-step-3)));
    }

    .m-backgroundAnimations_noise {
        position: absolute;
        z-index: 1;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        mix-blend-mode: multiply;
    }

    .logo_app{
        width: 150px;
    }

    .heading{
        height: 100px;
        padding-top: 40px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border-bottom: #fff 1.5px solid;
        border-top: #fff 1.5px solid;
    }

  h3 {
      font-size: 1.2rem;
      color: #fff;
      font-family: "Cocogoose";
  }
  
  /* Wrapper Section */
  
  .wrapper {
    height: 100%;
    z-index: 5;
    position: relative;
    color: #fff;
  }
  
  .maincontent {
    display: flex;
    margin: 70px auto 20px auto;
    text-align: center;
    flex-flow: row;
    justify-content: center;
  }
  
  label {
    font-weight: 400;
    font-size: 20px;
  }
  
  .maincontent input {
    width: 350px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    padding: 20px;
    font-size: 20px;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 0 7px 23px 7px #00000020;
  }
  
  .maincontent input:focus {
    width: 450px;
    background-color: #fff;
    color: #ff4136;
    transition: 0.3s;
    font-weight: 700;
  }
  
  .maincontent input:valid {
    background-color: #fff;
    color: #ff4136;
    transition: 0.3s;
    font-weight: 700;
  }

  .m-names__content__form__and {
    height: 59px;
    margin: 28px 20px;
}
  
  ::placeholder {
    color: rgba(255, 255, 255, 0.658);
    font-size: 18px;
    text-align: center;
  }
  
  button {
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    background-color: transparent;
    padding: 15px 30px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    font-weight: 600;
    box-shadow: 0 10px 23px 10px #00000020;
  }

  button:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
}
  
  .result {
    margin: 80px auto;
    margin-bottom:30px;
    padding-top: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-top: #fff 1.5px solid;
  }
  
  .result h1 {
    font-family: "Montserrat", sans-serif;
    padding-top: 2%;
  }
  
  .divider {
    width: 200px;
    height: 2px;
    background-color: #fff;
    text-align: center;
    margin: 10px auto;
  }
  
  #loveinfo {
    line-height: 1.5;
  }

  .m-footer {
    height: 50px;
    border-top: 1.5px solid #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2.43em;
    padding-left: 20px;
    letter-spacing: -0.03em;
    position: relative;
    display: flex;
}

.dot{
    width:80px;
    height:80px;
    position:absolute;
    background: url(https://duolovesongs.byspotify.com/_next/static/images/rose-318d4b03196e7b61af1c3587d977ef2b.png);
    background-size: 100% 100%;
  }
  
  #container {
    width:100%; 
    height:100%; 
    position: absolute;
}
 
#gif1 {
  position: absolute;
  left: 5%;
  display: block;
  max-width: 25%;
  max-height: 25%;
}